<header>
  <nav>
    <a href='#'>Home</a>
    <a href='#'>C.V.</a>
  </nav>
  <img src='https://drive.google.com/uc?export=view&id=1nrLEGwbeevEL5oTwcM2n2fK8FMv31Uon'>
  <h1>Eóin Gorman</h1>
</header>

<main>
<section class='about'>
<h2>About Me</h2>
<p>
Hello there!<br>
I'm a (mostly) backend developer, looking to use my skills to develop something that solves real problems, with people who enjoy what they do.<br>
I have experience in a wide breadth of languages and technologies. This has given me an ability to pick things up quickly.<br>
I'm a hard worker, good communicator and I would consider myself self-motivated.<br>
Currently upskilling to learn more about Rails and Full Stack development. Enrolled in the Codecademy Pro courses for Ruby on Rails and Full Stack Developer.<br>
Previously based in  Dublin, Ireland but have just moved to Berlin to push myself to learn German.
</p>
</section>
</main>

<footer>
  <a href='https://github.com/EoinGorman' target='_blank'>GitHub</a>
  <a href='https://www.linkedin.com/in/eoin-gorman-a223b4a4/' target='_blank'>LinkedIn</a>
</footer>