<header>
  <nav>
    <a class='prominent_link' href='#'>Home</a>
    <a class='prominent_link' href='#'>C.V.</a>
  </nav>
  <img src='https://drive.google.com/uc?export=view&id=1nrLEGwbeevEL5oTwcM2n2fK8FMv31Uon'>
  <h1>Eóin Gorman</h1>
</header>

<main>
<section class='about'>
<p>
<strong>Eoin Gorman</strong> is a (mostly) <strong>backend developer</strong>, who wants to use his skills to develop something that <strong>solves real problems</strong>,<br>with people who <strong>enjoy</strong> what they do.<br>
<strong>Experienced</strong> in a wide breadth of <strong>languages and technologies</strong>, Eoin has an ability to pick things up quickly.<br>
A hard worker, good communicator and self-motivated.<br>
Currently <strong>learning more about Rails</strong> and Full Stack development.<br>
Previously based in Dublin, Ireland but now <strong>in Berlin</strong> to learn German and <strong>make a difference in the world!</strong>
</p>
</section>
<section class='view_work'>
<a class='prominent_link' href='#'>View Work</a>
</section>
</main>

<footer>
  <div class='social_link'>
    <img class='social_icon' src='https://drive.google.com/uc?export=view&id=1o1oSBcAnh4WQ6hbqK4ul13w7WANFx3z_'>
    <a href='https://github.com/EoinGorman' target='_blank'>GitHub</a>
  </div>
  <div class='social_link'>
    <img class='social_icon' src='https://drive.google.com/uc?export=view&id=1EoQAwko6g89391TrNykb_TKHYruUgYM9'>
    <a href='https://www.linkedin.com/in/eoin-gorman-a223b4a4/' target='_blank'>LinkedIn</a>
  </div>
</footer>