body {
  background-color: #fff7f7;
}

h1 {
  text-align: center;
  color: #92B4A7;
}

h2 {
  color: #92B4A7;
  padding: 0px 10px;
}

section {
  margin: 20px 0px;
  padding: 20px 20px;
  background-color: #2F2F2F;
}

p {
  color: #fff7f7;
  padding: 0px 10px;
  text-align:justify;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  letter-spacing: 1px;
}

strong {
  color: #92B4A7;
}

header, footer {
  background-color: #2F2F2F;
  padding: 10px 10px;
  border: 1px solid #92B4A7;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

a {
  padding: 5px;
  border-radius: 5%;
  background-color: #92B4A7;
  color: #fff7f7;
}

.view_work {
  text-align: center;
  padding: 40px;
}

.view_work a {
  padding: 35px 60px;
  text-decoration: none;
}

.view_work a:hover {
  color: #2F2F2F;
}

.view_work a:active {
  background-color: #638075;
}