body {
  background-color: #2F2F2F;
}

h1 {
  text-align: center;
  color: #92B4A7;
}

h2 {
  color: #92B4A7;
  padding: 0px 10px;
}

section {
  margin: 10px 0px;
  background-color: #fff7f7;
}

p {
  color: #2F2F2F;
  padding: 0px 10px;
  text-align:justify;
  padding-bottom: 10px;
}

header nav {
  background-color: #fff7f7;
  padding: 10px 10px;
  border: 1px solid #92B4A7;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

a {
  color: #92B4A7;
}